.drawer-button{
    margin: 2rem;
    font-size: 2rem !important;
}

.drawer-button:hover{
    cursor: pointer;
    color: #c2c2c2;
}

.close-button{

    transition: .3s ease-in;   
}

.close-button:hover{
    margin-left: .5rem;
    color: #505050;
    cursor: pointer;
}
.user-name{
    font-family: Custom, Arial, Helvetica, sans-serif;
    color: #313131;
    font-weight: 600;

    font-size: 1.3rem;
}
.logout-button{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 1.5rem 1.5rem 0;
    font-size: .9rem;
    font-family: Custom, Arial, Helvetica, sans-serif;
    color: rgb(22, 123, 255);
}

.logout-button-disabled{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 1.5rem 1.5rem 0;
    font-size: .9rem;
    font-family: Custom, Arial, Helvetica, sans-serif;
    color: #505050
}
.logout-button-disabled:hover{
    cursor: pointer;
}

.logout-button:hover{
    cursor: pointer;
    color: #505050;
}