*{
    margin: 0;
    padding: 0;
    clear: both;
}

.chakra-icon{
    pointer-events: none;
}

ul{
    list-style: none;
}

body{
    background-color: #ede9e8 !important;
}

.btn {
    background-color: #276749;
    border: none;
    color: white;
    border-radius: 0.375rem;
    height: 2rem;
    min-width: 2rem;
    width: 2rem;
    font-size: 0.7rem;
    transition: 0.5s;
    margin-right: 10px;
}

.title{
    font-size: 1.6rem;
    font-family: Custom, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #505050;
}


.card {
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    margin: 3rem 0;
    background: white;
    animation: 0.5s ease-in fadeIn 1;
    align-items: center;
    min-height: 200px;
}

.error-page{
    text-align: center;
    padding-top: 6rem;
}

.error-icon{
    color: #e63f3f;
    font-size: 14rem;
}

.error-message{
    margin-top: 2rem;
    color: #1f1e1e;
    font-size: 2.5rem;
    font-weight: bolder;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 100% !important;
}

.title-login{
    font-size: 1.6rem;
    font-family: Custom, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #505050;
    padding: 1rem 0;
    padding-bottom: 2rem !important;
}
.error-message{
    font-size: .8rem;
    color: rgb(230, 51, 51);
}
.has-error{
    border: 2px solid rgba(255, 0, 0, 0.6) !important;
    background-color: rgba(255, 0, 0, 0.05) !important;
}

@media (min-width: 990px){
    .col-md-6{
        max-width: 60% !important;
        width: 60%;
    }
}
@media (min-width: 768px){
    .col-md-6{
        max-width: 80% !important;
    }
}
@media (max-width: 675px){
    .container{
        width: 95% !important;
    }
}
@media (max-width: 365px){
    .title-login{
        font-size: 1.3rem;
    }
}